{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}

{% if user.is_authenticated %}
<h1>This is our home page.</h1>
{% comment %} <img class="bookcover" src="{% static 'images/dfp.jpg' %}"> {% endcomment %}
<div class="">
    <audio controls id="player">
        <source src=" {% if record.audio_file %} {{ record.audio_file.url }} {% endif %}" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
  </div>
{% else %}
<h2>You need to login.</h2>
{% endif %}

{% endblock content %}